body
{
	background-image:url(http://webassetsg.scea.com/pscomauth/groups/public/documents/webasset/ps4-hrdware-large18.jpg);
	color:red;
	font-size:32px
}

ol
{
	list-style-type:Georgia;
	color:blue;
	font-size:20px
}